<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="Home.css">
</head>
<body>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-image-container">
                <img src="May Admin Block.jpg" class="d-block w-100" alt="first">
                <div class="carousel-caption">
                    <h3>dhaRti</h3>
                    <div class="carousel-caption1">
                    <p>Dharwad Research and Technology Incubator</p>
                </div></div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-image-container">
                <img src="July.Gate_Complex_1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption2">
                    <p>Empowering Innovation, Driving the Future
                        Fueling Innovation.</p>
                   
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-image-container">
                <img src="Geograph.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption3">
                    <p>Empowering Startups, Shaping the Future.</p>
                  
                </div>
            </div>
        </div>
    </div> </div>
    <section class="about-section">
        <div class="about-content">
            <h2>IIT DHARWD</h2>
            <p>
            Indian Institute of Technology dhArwAD (IITdh) is one of the third Generation (3-G) IITs, which were established by the
            Ministry of Education (MoE), Government of India (GoI). It was started in August 2016 under the mentorship of IIT
            Bombay. Our academic journey began in the Academic Year (AY) 2016-17, with the establishment of four-year Bachelor of
            Technology (B. Tech.) programs - Mechanical Engineering (ME), Electrical Engineering (EE) and Computer Science &
            Engineering (CSE).

            </p>
        </div>
        <div class="about-image">
            <img src="July.Gate_Complex_1.jpg" alt="Institute Image">
        </div>
    </section>

    <section id="vision-mission">
    <div class="vision-container">
        <h2 class="vision-section-title">What is dhaRti?</h2>
        <div class="paragraph">
            <p>Welcome to dhaRti-BioNEST, an innovation hub at IIT Dharwad, backed by BIRAC and supported by Smt. Nirmala
                Sitharaman,
                Minister of Finance, Government of India.</p>
        </div>
        <div class="vision-content">
            <div class="vision">
               <div class="vision1"> 
        </div> </div> 
            <div class="mission">
            </div>
        </div>
           
    </div>
    
</section>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="offers-container">
    <h1 class="offers-heading">Our Offerings</h1>
    <p>We provide the <strong> resources, mentorship,</strong> and <strong>infrastructure</strong> needed for startups to <strong>scale and succeed.</strong>
</p>
    <section class="offers-section">
        <div class="offer-block" style="background-image: url(infrastructure.jpg);" >
            <h3>State-of-the-Art Infrastructure</h3>
            <div class="offer-details">
                <ul>
                    <li><strong>State-of-the-Art Infrastructure :</strong> Labs, co-working spaces, prototyping facilities.</li>         
                </ul>
            </div>
        </div>
        <div class="offer-block" style="background-image: url(mentorship.jpg);">
            <h3>Mentorship</h3>
            <div class="offer-details">
                <ul>
                    <li><strong>Menorship :</strong> Access to IIT Dharwad faculty, industry experts, and investors.</li>
                </ul>
            </div>
        </div>
        <div class="offer-block" style="background-image: url(funding-support.avif);">
            <h3>Funding Support</h3>
            <div class="offer-details">
                <ul>
                    <li><strong>Funding Support :</strong> Seed funding, investor connects, and grant opportunities.</li>
                </ul>
            </div>
        </div>
        <div class="offer-block" style="background-image: url(end-support.jpg);">
            <h3>Networking & Partnerships</h3>
            <div class="offer-details">
                <ul>
                    <li><strong>Networking & Partnerships :</strong> Strategic collaborations with academia, industry, and government bodies.</li>
                </ul>
            </div>
        </div>
    </section>
</div>
<div class="focus-container">
    <h1 class="focus-heading">Key Sectors We Support
</h1>
    <p class="focus-description">
        We nurture startups working on high-impact innovations across diverse sectors

    </p>
    <section class="focus-section">
        <div class="focus-block" style="background-image: url(bioscience.jpg);">
            <div class="focus-inner">
                <div class="focus-front">
                    <div class="focus-icon"></div>
                    <h3 class="focus-title">Biosciences & Healthcare</h3>
                </div>
                <div class="focus-back">
                    <p> We fund and conducts research to advance biomedical and behavioral science. </p>
                </div>
            </div>
        </div>
        <div class="focus-block" style="background-image: url(food.jpg);">
            <div class="focus-inner">
                <div class="focus-front">
                    <div class="focus-icon"></div> 
                    <h3 class="focus-title">Sustainable Food & Agriculture</h3>
                </div>
                <div class="focus-back">
                    <p class="focus-text">From BioAgri(GMOSs, Gene Edititng, Biological Pest Control), Agritech(smart irrigation), Nutrition to FoodTech 
                     </p>
                </div>
            </div>
        </div>
        <div class="focus-block" style="background-image: url(smartEngg2.jpg);">
            <div class="focus-inner">
                <div class="focus-front">
                    <div class="focus-icon"></div>
                    <h3 class="focus-title">Smart Manufacturing & AI</h3>
                </div>
                <div class="focus-back">
                    <p class="focus-text">
                        From genomics to bio-manufacturing, we support biopharma and biotech innovations that change the world. </p>
                </div>
            </div>
        </div>
        <div class="focus-block" style="background-image: url(clean-energy.jpg);">
            <div class="focus-inner">
                <div class="focus-front">
                    <div class="focus-icon"></div>
                    <h3 class="focus-title">Clean Energy & Sustainability</h3>
                </div>
                <div class="focus-back">
                    <p class="focus-text">
                        Clean Water & Sanitation Solutions, Renewable Energy Technologies, Energy Efficiency & Smart Buildings </p>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="supporters-section">
    <h2>Our Supporters</h2>
    <div class="supporters">
        <div class="supporter">
            <a href="https://www.iitdh.ac.in/" target="_blank">
                <img src="IIT-Dharwad.png" alt="IIT Dharwad Logo">
            </a>
            <p>IIT Dharwad</p>
        </div>
        <div class="supporter">
            <a href="https://dharwad.nic.in/" target="_blank">
                <img src="Dharwad-dist-magistrate.png" alt="Dharwad District Magistrate Office Logo">
            </a>
            <p>Dharwad District Magistrate Office</p>
        </div>
        <div class="supporter">
            <a href="https://birac.nic.in/" target="_blank">
                <img src="Birac_logo.png" alt="BIRAC Logo">
            </a>
            <p>BIRAC</p>
        </div>
        <div class="supporter">
            <a href="https://www.ableindia.in/" target="_blank">
                <img src="able_newlogo.png" alt="ABLE Logo">
            </a>
            <p>ABLE</p>
        </div>
        <div class="supporter">
            <a href="https://www.kletech.ac.in/" target="_blank">
                <img src="kle-tech.png" alt="KLE Technological University Logo">
            </a>
            <p>KLE Technological University</p>
        </div>
        <div class="supporter">
            <a href="https://www.kletech.ac.in/ctie/" target="_blank">
                <img src="kle-tech.png" alt="KLE CTIE Logo">
            </a>
            <p>KLE CTIE</p>
        </div>
    </div>
</section> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>