<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="footer3.css">
</head>

<body>
    <footer>
        <div class="footer-custom">
            <div class="footer-container">
                <div class="footer-section">
                    <div class="footer-content">
                        <div class="footer-about">
                            <div class="footer-logo">
                                <img src="logo.png" alt="">
                            </div>
                            <p>
                                DhaRti Foundation
                            </p>
                        </div>
                        <ul class="social-content">
                            <li class="social-item">
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook-square'></i>
                                </a>
                            </li>
                            <li class="social-item">
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li class="social-item">
                                <a href="#" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                            <li class="social-item">
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin-square'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-content">
                        <h4>Quick Link</h4>
                        <ul class="footer-nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">privact policy</a></li>
                           
                        </ul>
                    </div>
                    <div class="footer-content">
                        <h4>Get Help</h4>
                        <ul class="footer-nav">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Contact Support</a></li>
                            <li><a href="#">Feedback & Suggestion</a></li>
                            
                        </ul>
                    </div>
                    <div class="footer-content">
                        <h4>Contact</h4>
                        <ul class="footer-contact">
                            <li class="femail">
                                <i class='bx bx-envelope'></i>
                                <span>dhartifoundation@gmail.com</span>
                            </li>
                            <li class="fphone">
                                <i class='bx bx-phone'></i>
                                <span>1234567890</span>
                            </li>
                            <li class="flocation">
                                <i class='bx bxs-map'></i>
                                <span>Dharwad</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="footer-container">
                <div class="copyright">
                    <div class="copyright-text">
                        <p>Copyright 2024. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>